/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 May, 2014, 3:16:06 PM
    Author     : eheuristic
*/
.wpcf7-response-output{
    display: none !important;
    //visibility: hidden;
}
.wpcf7-mail-sent-ng{
    display: none !important;
}
